<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4 push-sm-2 push-md-3 push-lg-4 text-center">
            <br>
            <div>
                <h3>
                    <%= course.name %> Exam
                </h3>
                <h5>
                    <span class="badge badge-success">Number of chapters:
                <%= course.chapters %></span></h5>
            </div>
            <div class="text-left">
                <% if(errorMsg && errorMsg.err) {%>
                    <ul class="alert alert-danger">
                        <% Object.keys(errorMsg.err.invalidAttributes).forEach(function(attribute){ %>
                            <% errorMsg.err.invalidAttributes[attribute].forEach(function(rule){ %>
                                <li>
                                    <%= `${attribute} : ${rule.rule == 'required' ? 'required' : rule.message}` %>
                                </li>
                                <% }); %>
                                    <%});%>
                    </ul>
                    <br>
                    <%}%>
            </div>
            <form id="exam-form" action="/exam" method="POST" oninput="total_ques.value=parseInt(No_chapters.value)*parseInt(Q_chapter.value);Difficult.value=parseInt(total_ques.value)-parseInt(Simple.value)" class="form-signin">

                <input required class="form-control" type="number" name="Q_chapter" placeholder=" questions per chapter" min="1">
                <input type="hidden" name="No_chapters" value="<%= course.chapters %>">
                <label style="color:blue" for="total_ques">Total No.Questions = </label>
                <output style="color:blue" name="total_ques"></output>
                <div class="form-group">
                    <label for="">Difficulty:</label>
                    <input required class="form-control" type="number" name="Simple" placeholder=" number of simple questions" min="1">
                    <input required class="form-control" type="number" name="Difficult" placeholder=" number of difficult questions" min="1">
                </div>

                <div class="form-group">
                    <label for="">Objectives:</label>
                    <input required class="form-control" type="number" name="Reminding" placeholder=" number of reminding questions" min="1">
                    <input required class="form-control" type="number" name="Understanding" placeholder=" number of understanding questions" min="1">
                    <input required class="form-control" type="number" name="Creativity" placeholder=" number of creativity questions" min="1">
                </div>

                <input type="hidden" name="course_id" value="<%=course.id%>">

                <input type="submit" class="btn btn-lg btn-primary" value="Generate Exam">
            </form>
            <br>
            <a class="btn btn-warning" href="/exam">Back</a>
        </div>
    </div>
</div>