<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 push-sm-2 push-xs-2 text-center">
            <br>
            <div>
                <h2>Adminstration Panel</h2>
                <h3>Question Details</h3>
            </div>
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-center">
                            <p> CH:
                                <%= question.chapter %><br> Q:
                                    <%= question.question_head %>
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>
                                Difficulty:
                                <%= question.difficulty %>
                            </p>
                            <p>
                                Objective:
                                <%= question.objective %>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="float-center">
                                <% _.each(question.answers, function(answer, i) { %>
                                    <p>
                                        Answer
                                        <%=i+1%>:
                                            <%= answer %>
                                    </p>
                                    <% }); %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <p>
                                Correct answer:
                                <%= question.correct_answer+1 %>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success" href="/course/<%=course_id%>/question/edit/<%=question.id%>">Edit</a></td>
            <form style="display: inline-block;" action="/course/<%=course_id%>/question/<%=question.id%>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input class="btn btn-danger" type="submit" name="" value="Delete">
            </form>
        </div>
    </div>
</div>