<table>
    <tr>
        <th>name</th>
        <th>ch</th>
        <th colspan="3">actions</th>

    </tr>
    <% _.each(courses, function(course) { %>

        <tr>
            <td>
                <%= course.name %>
            </td>
            <td>
                <%= course.chapters %>
            </td>
            <td> <a href="/course/<%=course.id%>">show</a></td>
            <td><a href="/course/edit/<%=course.id%>">edit</a></td>
            <td>
                <form action="/course/destroy/<%=course.id%>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" name="" value="Delete">
                </form>
            </td>
        </tr>
        <% }) %>
</table>